body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}
.logout{
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}
h2{
    text-align: center;
    padding: 0 0 20px 0;
    color: #2691d9;
    border-bottom: 1px solid silver;
}
a{
    text-decoration: none;
    font-size: 20px;
    padding-left: 30% ;
    color: #2691d9;

}
p{
    
    text-decoration: none;
    font-size: 20px;
    padding-left: 30% ;
    font-weight: 800;
    padding-top: 40px;

}